{% extends 'base.html' %}
{% load static %}
{% block title %}
CALV | Create New Category!
{% endblock%}


{% block content %}
{% if request.user.is_superuser %}
<a class="back-btn" href="{% url 'home' %}"> <i class="fa-solid fa-arrow-left"></i> Back</a>
<h1 class="about-header">Add Category</h1>
<form  class="form-category" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="button-54">Add Category</button>
</form>

{% else %}
User access denied: not authenticated.
{% endif %}



{% endblock %}
