{% extends 'base.html' %}
{% load static %}
{% block title %}
CALV | Add Comment
{% endblock%}


{% block content %}

{% if user.is_authenticated %}
<a class="back-btn" href="{% url 'home' %}"> <i class="fa-solid fa-arrow-left"></i> Back</a>
<h1 class="about-header">Add Comment</h1>
<form  class="addpost-form" method="POST">
    {% csrf_token %}
    {{form.as_p }}
    <button class="button-54">Add Comment</button>
</form>
<br>
<br>
{% else %}
User access denied: not authenticated.
{% endif %}



{% endblock %}
