{% extends 'base.html' %}
{% load static %}
{% block title %}
CALV | Sample Editor Letter
{% endblock%}


  {% block content %}
  <h1 class="about-header" id="aboutItem">Sample Editor Letter</h1>
  <hr class="about-hr">
  <p class="about-p"><u>Subject line:</u> Why protect the Latah Valley? Say it in a letter to the editor.</p>
  <h1 class="about-call">LETTER TO THE EDITOR</h1>
  <hr class="about-hr-2">
  <p class="about-p" >Speak up to protect the Latah Valley by submitting a letter to the editor to the Spokesman-Review and/or the Inlander. To help you here is the following:</p>
  <ol class="about-ol">
    <li>Letter to the editor emails - editor@spokesman.com and editor@inlander.com</li>
    <li>Word counts - Spokesman-Review: 250 words Inlander: 250 words</li>
    <li>Sample letter to the editor</li>
    <p class="about-p"><u>Title:</u> The Latah Valley Deserves Better</p>
    <p class="about-p"><u>Letter:</u> It’s beginning to feel like there is a gold rush in the Latah Valley. And like a gold rush the boom will be short lived and benefit very few and
      the bust will have consequences for decades to come. Developers, with aid from the city,
      want to build this area out with thousands of homes yet there are no plans or
      funds to address the multitude of infrastructure needs. Worse yet the city has known this was potentially coming decades
       ago and has done nothing despite pressure from such agencies like WSDOT. The Latah Valley
       lacks adequate fire and police protection. The Latah Valley has no library, community center, public transportation, or schools. Mix in roads that can’t handle the traffic and you have a recipe for disaster. And don’t forget about all the viable farmland and the wildlife corridor to be affected and lost if development for development's sake is allowed to rule the day. The winners: developers and the property tax collectors. The losers: the residents of Latah Valley, the people of Spokane, and the wildlife. It doesn’t have to be like this. Mayor Woodward and Spokane City Council it’s time you hit the pause button, enact a moratorium on major development to plan accordingly including identifying funding for needed infrastructure. Don’t gamble away Spokane’s future.
       <br></br>and is in jeopardy of losing key community-wide attributes such as the inventory of viable agricultural land and critical wildlife habitat. <br></br>The pressure to grow Spokane should never come at the expense of preserving what makes Spokane a wonderful place to live. Please do the right thing - adopt a moratorium on major development in the Latah Valley until comprehensive planning can be undertaken and funding sources identified for needed infrastructure.
       </p>
       <p class="about-p-2">Sincerely,</p>
  </ol>


  </body>

  </html>

  {% endblock %}
