{% extends 'base.html' %}
{% load static %}
{% block title %}
CALV | Fire Dept. Talking Points
{% endblock%}


  {% block content %}
  <h1 class="about-header" id="aboutItem">Fire Dept. Talking Points</h1>
  <hr class="about-hr">
  <p class="about-p"><u>Subject line:</u> Fire Protection in the Latah Valley, how protected are we?</p>
  <h1 class="about-call">DISCUSSION WITH THE FIRE MARSHAL</h1>
  <hr class="about-hr-2">
  <p class="about-p">Spokane City Fire Marshal, Lance Dahl, is very interested in hearing the concerns you may have with fire protection in Latah Valley and how the recent rapid rate of development is contributing to those concerns.  Please send your comments to:
firemarshal@spokanecity.org
</p>
<h1 class="about-call">TALKING POINTS</h1>
<hr class="about-hr-2">
<ol class="about-ol">
  <li>Wildfire response – is there enough support for a medium or large-scale wildfire?</li>
  <li>Access to some neighborhoods (only 1 road in and out). Recent Colorado neighborhood fires highlight the need for rapid evacuation of neighborhoods</li>
  <li>Low Railroad Bridges that may limit what types of fire equipment can respond</li>
  <li>Response times - How will modifications and possible J-turns added to US 195 effect fire response? (Fire trucks crossing US 195 during a response/traffic)</li>
  <li>Is there enough water, water pressure, and storage to support the increased development?</li>
  <li>Can Station 4 & 5 safely support +3700 new homes in Latah Valley?</li>
</ol>

  </body>

  </html>

  {% endblock %}
